.backgrounds {
  overflow: hidden;
  #pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -210;
    .panel {
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      text-align: center;
      opacity: 100%;
      // z-index: -110;
      .inner-panel {
        z-index: 110;
        height: 100%;
      }
    }
  }
}
